---
import Layout from "../components/layout.astro";
import ExerciseListing from "../components/exercise/exercise-list.astro";
import { exercises } from "../helpers";
---

<Layout>
    <div class="max-w-screen-xl mx-auto px-4 py-12 sm:px-8">
        <h2 class="text-4xl font-bold m-6">¿Qué es este sitio web?</h2>
        <p class="text-xl m-6">
            Este sitio web es una colección de mis soluciones a una variedad de
            problemas de programación, incluyendo los ejercicios de <a
                class="text-xl text-primary"
                href="https://projecteuler.net/"
            >
                Project Euler</a
            >. Aquí compartiré mi enfoque tanto matemático como programático
            para cada ejercicio.
        </p>
        <h2 class="text-4xl font-bold m-6">¿Por qué estoy haciendo esto?</h2>
        <p class="text-xl m-6">
            Me apasionan las matemáticas, la programación y la resolución de problemas.
            Este sitio es un espacio donde puedo compartir mis soluciones a una
            variedad de desafíos de programación. Además, considero que la técnica de
            Feynman es una herramienta excelente para aprender. Al mostrar de la mejor
            forma posible mis soluciones a los ejercicios, estaré aprendiendo y
            mejorando mis habilidades.
        </p>
        <p class="text-xl m-6">
            No conozco muchos sitios que ofrezcan este tipo de recursos en español,
            así que me gustaría ofrecer una ayuda más para aquellos que, como yo,
            sienten curiosidad por estos problemas.
            
        </p>
        <h2 class="text-4xl font-bold m-6">Sobre mí</h2>
        <p class="text-xl m-6">
            Mi nombre es Joseph, soy Ingeniero de Sistemas y estudiante de
            Matemáticas. Si quieres saber más sobre mí, visita mi <a
                class="text-xl text-primary"
                href="https://joseph.mariailabs.com/">sitio personal</a
            >.
        </p>
        <h2 class="text-4xl font-bold m-6">Ejercicios</h2>
        <ExerciseListing exercises={exercises} />
    </div>
</Layout>
