---
import Layout from "../components/layout.astro";
import ExerciseListing from "../components/exercise/exercise-list.astro";
import { exercises } from "../helpers";
---

<Layout>
    <div class="max-w-screen-xl mx-auto px-4 py-12 sm:px-8">
        <h2 class="text-4xl font-bold m-6">Hola! soy joseph</h2>
        <p class="text-xl m-6">
            Este sitio web es una colección de mis soluciones a una variedad de
            problemas de programación, incluyendo los ejercicios de <a
                class="text-xl text-primary"
                href="https://projecteuler.net/"
            >
                Project Euler</a
            >. Aquí compartiré mi enfoque tanto matemático como programático
            para cada ejercicio.
        </p>
        <h2 class="text-4xl font-bold m-6">Ejercicios</h2>
        <ExerciseListing exercises={exercises} />
    </div>
</Layout>
